* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F5;
    padding: 15px;
}

.main {
    position: relative;
    margin-bottom: 20px;
    border-top: 3px solid #d2d6de;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #fff;
}

/* Header */
.title {
    font-weight: 200;
    padding: 10px;
    font-size: 20px;
}

.activity {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.activity .selectvalue {
    margin-left: 10px;
}

.selectvalue select {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

.activity .search {
    margin-right: 10px;
}

.search input {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

/* Content */
table,
th,
td {
    border: 1px solid #f4f4f4;
    border-collapse: collapse;
}

th {
    padding: 10px;
    text-align: left;
    vertical-align: center;
    width: 20%;
}

td {
    padding: 5px 15px;
    text-align: left;
    vertical-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #F1F1F1;
}

th i {
    padding: 5px 10px;
    opacity: 0.5;
}

tbody th {
    font-weight: 200;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.footer .showing {
    display: flex;
    margin-left: 10px;
}

.showing .showing-text {
    margin-right: 10px;
}

.footer .btn-control {
    display: flex;
    cursor: pointer;
}


.btn-control button {
    padding: 6px 12px;
    margin: 0 2px;
    border: 1px solid silver;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

.prev,
.next {
    min-width: 80px;
}

.btn-change button {
    border: 1px solid silver;
    background-color: white;
}

button.active {
    background-color: #337ab7;
    color: white;
}

.not-allowed {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.display-none {
    display: none;
}